dconf/
google-chrome/
appimagelauncher.cfg
autostart
cef_user_data
dconf
discord
enchant
eog
evince
evolution
FreeCAD
gedit
gnome-games
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
htop
ibus
inkscape
lazygit
LibreCAD
libreoffice
matplotlib
Meltytech
menus
mimeapps.list
obsidian
pulse
QCAD
QtProject.conf
Qtrac Ltd.
README.md
remmina
Signal
systemd
totem
Unknown Organization
update-notifier
user-dirs.dirs
user-dirs.locale
xm1
xonsh
yelp
Zoho Mail - Desktop
zoom.conf
zoomus.conf
.gsd-keyboard.settings-ported
